.mb-2{
    width: 500px;
}
h2{
    font-family: 'Comic Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.darkcolor{
    background-color: cornflowerblue !important;
}